@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: var(--foreground);
  background: var(--background);
  max-width: 750px;
  margin: 30px auto;
  padding: 0 30px;
  font-family: "Outfit", serif;
}

header div {
  align-items: center;
  justify-content: center;
  position: absolute;
}

main section {
  padding: 15px 0;
}

main h2 {
  margin: auto;
  margin-bottom: 23.225px;
  font-size: 24px;
  color: var(--brand-color);
  font-weight: 600;
}

p {
  font-size: 18px;
  margin-top: 23px;

}

p a {
  color: var(--url);
  font-weight: 700;
}

footer {
  color: var(--lighter);
  padding: 10px;
  border-top: 3.5px dotted var(--foreground);
  text-align: center;
  font-weight: 300;
  font-size: 14px;
}


footer a {
  display: contents;
  color: var(--url);
}

.social-container {
  position: relative;
}

span.socialBtn {
  padding: 10px;
  margin: 1.5px;
  display: inline;
}

span.socialBtn i {
  font-size: 26.25px;
  color: var(--brand-color);
  position: relative;
  text-decoration: slategrey;
}

span.socialBtn i:hover {
  color: var(--brand-color-highlight);
  transform: scale(1.35);
}

a,
h1,
span.socialBtn i {
  transition: 0.325s;
}

a:hover {
  color: var(--url-highlight);
  text-decoration: underline;
}

h1:hover {
  transform: scale(1.125);
}


.spotifyStatus,
.customStatus {
  font-size: 15px;
  padding: 3.5px;
}

.customStatus {
  display: inline-flex;
}

.customStatus img {
  width: 15px;
  height: 15px;
  margin-right: 3.5px;
}

.spotifyStatus span i {
  color: #1ed760;
  margin: 3px;
}

.spotifyStatus a:hover {
  color: #1ed760;
}

svg {
  margin: auto;
}

.menu {
  margin: 0 5px;
  margin-bottom: 6px;
}


.biFlag {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.pFlag {
  display: inline-flex;
  align-items: center;
}

.pFlag a {
  display: contents;
}