@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    height: 55px;
    font-size: 18px;
    margin: 0 5px;
    margin-bottom: 15px;
}

nav div.brand {
    display: flex;
    width: 30%;
    height: 100%;
}

.brand img {
    border: solid transparent;
    border-radius: 50%;
    width: 55.75px;
    height: 55.75px;
    margin-right: 18.25px;
    transition: 0.275s;
    animation: load-image 1.275s linear;
}

.brand img:hover {
    transform: rotate(360deg) scale(1.1375);
}

nav div h1 {
    font-size: 31.5px;
    float: left;
    margin: 0;
    line-height: 35.225px;
    font-weight: 720;
}

@keyframes load-image {
    0% {
        opacity: 0;
        transform: rotate(360deg);
    }

    100% {
        opacity: 1;
    }
}