@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfdfd;
  --foreground: #191919;
  --brand-color: #3edddd;
  --brand-color-highlight: #20f5f5;
  --url: #0ac9eb;
  --url-highlight: #0de0eb;
  --lighter: #797878;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #fafafa;
    --lighter: #e6e3e3;
    --brand-color-highlight: #299999;
    --brand-color: #20f5f5;
    --url: #05c8d2;
    --url-highlight: #04aecc;
  }
}