@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --background: #fcfcfc;
  --foreground: #0a0a0a;

  --background-lighter: #ffffff;
  --util: #0a0a0a;

  --brand-color: #36cccc;
  --brand-color-highlight: #4ae0e0;

  --url: #36cccc;
  --url-highlight: #4ae0e0;

  --lighter: #5a5a5a;
  @theme {
    --shadow-md: 0 4px 6px -0.75px rgba(10, 10, 10, 0.2),
      0 2px 4px -2px rgba(20, 20, 0, 0.2);
  }

  @variant dark {
    --background: #000000;
    --background-lighter: #101010;
    --util: #171717;
    --foreground: #f1f1f1;
    --brand-color: #36cccc;
    --brand-color-highlight: #4ae0e0;
    --url: #36cccc;
    --url-highlight: #4ae0e0;
    --lighter: #ffffff;
    @theme {
      --shadow-md: 0 4px 6px -0.75px rgba(245, 245, 245, 0.2),
        0 2px 4px -2px rgba(235, 235, 255, 0.2);
    }
  }
}

.fursona-description {
  font-size: 18px;
  margin-top: 16px;
  font-weight: 400;
  line-height: 1.625;
}

.spotifyStatus i {
  margin-right: 5px;
}
.spotifyStatus a:hover {
  color: #1ed760;
}

body {
  background: var(--background);
  color: var(--foreground);
  max-width: 850px;
  margin: 30px auto;
  padding: 0 30px;
}

h1 {
  font-size: 28.5px;
  font-weight: 700;
}

h2.nickname {
  font-size: 20px;
  padding: 5px;
  font-weight: 700;
}

h2 {
  font-size: 23.5px;
  font-weight: 500;
}

p {
  font-size: 18px;
  margin-top: 13px;
  font-weight: 400;
}

p a {
  color: var(--url);
  font-weight: 500;
  transition: 0.275s;
}

.avatar {
  border-radius: 50%;
}

.themeswitcher {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.themeswitcher .toggler {
  text-align: center;
  justify-content: center;
  padding: 3.5px;
  width: 27px;
  height: 27px;
  background: var(--background-lighter);
  border-radius: 50%;
  border: 1px solid var(--foreground-lighter);
}

.themeswitcher .toggler i {
  font-size: 17px;
}

button.icon {
  border: 1px solid red;
}

button:has(.themeicon) {
  cursor: pointer;
}

.themeoptions {
  background-color: var(--background-lighter);
}

.themeoptions a {
  font-weight: 500;
  background-color: var(--background-lighter);
}

.themeoptions * {
  padding: 1.5px;
  margin: 3px;
  border-bottom: 1px solid var(--foreground);
  background-color: var(--background-lighter);
}

.themeoptions *:hover {
  color: var(--lighter);
}

a:hover {
  color: var(--url-highlight);
}

.themeoptions *:last-child {
  border-bottom: none;
}

.themeoptions {
  width: 95.25px;
  cursor: pointer;
  padding: 0.35rem;
  border: 1px solid var(--foreground);
  border-radius: 10px;
}

footer {
  color: var(--lighter);
  padding: 12.5px;
  margin-top: 22.5px;
  border-top: 1.5px dotted var(--foreground);
  text-align: center;
  font-weight: 300;
  font-size: 11.5px;
}

footer a {
  display: contents;
  color: var(--url);
  transition: 0.275s;
}

footer a:hover {
  color: var(--url-highlight);
}

.status {
  font-size: 13px;
  padding: 3.5px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.customStatus {
  display: flex;
  position: relative;
}

.customStatus img {
  width: 13px;
  height: 13px;
  margin-right: 3.5px;
}

span.social {
  padding: 8px;
  margin: 1.75px;
  margin-top: auto;
  display: inline-flex;
}

span.social i {
  font-size: 23.5px;
  color: var(--brand-color);
  position: relative;
  text-decoration: none;
  transition: 0.275s;
}

.social i:hover {
  color: var(--brand-color-highlight);
}

/* Letter spacing animation */
@keyframes text-spacing {
  0% {
    letter-spacing: 14.5px;
  }
}

.anim-text-spacing {
  animation: text-spacing 0.25s linear;
}

/* From transparent to opaque */
@keyframes appearing {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.anim-appearing {
  animation: appearing 0.6s ease-in;
}

.avatar {
  border: solid transparent;
  border-radius: 50%;
  transition: 0.275s;
  animation: load-image 1.275s linear;
}

.avatar:hover {
  transform: rotate(360deg) scale(1.1375);
}

section {
  margin: 0 auto;
  padding: 5px 32px;
}

.divider {
  display: block;
  margin: 0 auto;
  width: 12.5%;
  height: 2px;
  background-color: var(--util);
}

section h2.section-title {
  margin-top: 8px;
  padding-bottom: 4px;
}

.brand {
  justify-content: center;
  align-items: center;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.55rem;
}

.toolbar-link {
  padding: 0.5rem;
  margin: 0.25rem;
  font-size: 17.5px;
  font-weight: 500;
  color: var(--foreground);
  text-decoration: none;
  border-radius: 8px;
  transition: 0.275s;
}

@media (max-width: 625px) {
  .brand {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin: 0 auto;
  }
  span.social {
    padding: 6.7px;
    margin: 1.25px;
  }
  span.social i {
    font-size: 21px;
  }
  .brand img {
    width: 62.5px;
    height: 62.5px;
    margin-right: 0.525rem;
  }
  h1 {
    font-size: 23.5px;
  }
  p {
    font-weight: 300;
  }
  .brand h2 {
    display: flex;
  }
}

.reference-sheet {
  border-radius: 15px;
  box-shadow: var(--shadow-md);
  transition: 0.275s;
}

.color {
  cursor: pointer;
  position: relative;
  transition: 0.275s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  font-size: 1rem;
  border: var(--foreground) 3px solid;
}

.color:hover {
  opacity: 0.85;
  color: var(--lighter);
}

.fursona-param {
  background-color: var(--brand-color);
  height: 50px;
  line-height: 50px;
  padding: 7px;
  margin-top: 10px;
  width: 100px;
  border-radius: 12px;
  text-align: center;
  font-weight: 500;
}
