@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    height: 57px;
    font-size: 18px;
    margin: auto;
    margin-bottom: 20px;
}
nav div.brand{
    display: flex;
    width: 35%;
    height: 100%;
}

.brand img{
    border: solid transparent;
    border-radius: 50%;
    width: 57.5px;
    height: 57.5px;
    margin-right: 20px;
    transition: 0.275s;
}

.brand img:hover{
    transform: rotate(360deg) scale(1.125);
}

nav div h1{
    font-size: 30px;
    float: left;
    margin: 0;
    line-height: 35.225px;
    font-weight: 700;
}