@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #191919;
    --brand-color: #199b9b;
    --brand-color-highlight:#19e1e1;
    --url: #05b3d2;
    --url-highlight: #05c8d2;
    --lighter: #6d6d6d;
  }
  
@media (prefers-color-scheme: dark) {
:root {
    --background: #141414;
    --foreground: #f5f5f5;
    --lighter: #d8d8d8;
    --brand-color-highlight: #199b9b;
    --brand-color:#19e1e1;
    --url: #05c8d2;
    --url-highlight: #05b3d2;
}
}