/*
Copyright by NivereQ 2025

*/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background-color: #fefefe;
   font-family: "Zain", serif;
}

.center-box {
   background-color: #f1f1f1;
   padding: 30.5px;
   border: 1px solid #e7e7e7;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.212);
   border-radius: 8px;
   text-align: left;
}

.center-box p {
   margin: 0 0 10px;
   line-height: 1.2;
   font-family: "Zain", serif;
   font-weight: 300;
   font-style: normal;
}

footer {
   font-size: 9px;
   padding: 2px;
   font-family: "Oxanium", serif;
   font-optical-sizing: auto;
   font-weight: 300;
   font-style: normal;
}

.social-box {
   padding: 2px;
}

.social a {
   text-decoration: none;
   color: #000;
}

.social.discord a {
   color: #5865f2 !important;
}

.social.youtube a {
   color: #ff0000 !important;
}

.social.coffee a {
   color: #cbcf5c !important;
}

.social.spotify a {
   color: #1ed760 !important;
}

.black {
   color: #000;
}

.decoration-none {
   text-decoration: none !important;
}

.header a h1 img {
   width: 45px;
   height: 45px;
   border: 0px solid transparent;
   border-radius: 50%;
   padding: 1.75px;
   background: #000;
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.17);
}

.header a h1 {
   margin-bottom: 5.25px;
   font-family: "Pacifico", serif;
   font-weight: 400;
   font-style: bold;
   font-style: normal;
   font-size: 38px;
}

.menu{
   text-align: right;
}

.switcher{
   color: #000000;
   font-size: 15px;
   
}
